<link rel="stylesheet" href="/style.css" />

<form action="/verify" method="post" class="login-form">
  <h1>Login</h1>
  <h4 class="text-danger mb-4">{{msg}} </h4>
  <input type="text" placeholder="Username" name="username" required />
  <input type="password" placeholder="Password" name="password" required />
  <button type="submit">Submit</button>
</form>
